<!-- Login form -->
<div class='text-center'>
  <div class='form-signin m-4'>
    <form class='login-form'>
      <h1 class='h3 mb-3 fw-normal'>Please log in</h1>
      <!-- form username input -->
      <div class='form-floating'>
        <input type='username' class='form-control' id='username-login' />
        <label for='floatingInput'>Username</label>
      </div>
      <!-- form password input -->
      <div class='form-floating'>
        <input
          type='password'
          class='form-control'
          id='password-login'
          placeholder='Password'
        />
        <label for='floatingPassword'>Password</label>
      </div>
      <!-- form submit button -->
      <button class='w-100 btn btn-lg btn-primary' type='submit'>Log in</button>
    </form>
    <!-- sign up button to redirect to sign up page -->
    <button class='w-100 btn btn-lg btn-primary' id='signup'>Sign Up</button>
  </div>
</div>

<script src='./js/login.js'></script>